paho-mqtt~=1.6.1
requests~=2.28.1
jupyter~=1.0.0
pip~=22.3.1
configparser~=3.8.1
attrs~=22.1.0
toml~=0.10.2
wheel~=0.38.2
Pillow~=9.2.0
tornado~=6.2
Jinja2~=3.1.2
setuptools~=63.2.0
packaging~=21.3
pyparsing~=3.0.9
future~=0.18.2